# the decathlon-stripe-account-test sandbox account
DECATHLON_STRIPE_ACCOUNT_ID=acct_1QCjnwQPHZlbUQp1
# the imin-stripe-account-test sandbox account
IMIN_STRIPE_ACCOUNT_ID=acct_1QCjnRQM2dPzRG2K
# A dummy connected account that is connected to imin-stripe-account-test
SELLER_STRIPE_ACCOUNT_ID=acct_1QClJ1BHXYXKy5wR

DECATHLON_STRIPE_SECRET_KEY=sk_test_<...>
IMIN_STRIPE_SECRET_KEY=sk_test_<...>